<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paulwinjeba.kshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>
        <activity
            android:name=".FirstpageActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".InflaterActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PostActivity"
            android:theme="@style/AppTheme"
            android:label="Post Your Product"/>
        <activity
            android:name=".PostLoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PostSigninActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ResetPasswordActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ElectronicsActivity"
            android:label="Electronics"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".BikesActivity"
            android:label="Bikes"
            android:theme="@style/AppTheme" />
        <activity android:name=".BooksActivity"
            android:label="Books"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ClothesActivity"
            android:label="Clothes"
            android:theme="@style/AppTheme"/>
        <activity android:name=".MiscellaneousActivity"
            android:label="Miscellaneous"
            android:theme="@style/AppTheme"/>
        <activity android:name=".MyPostActivity"
            android:label="My Post"
            android:theme="@style/AppTheme"/>
        <activity android:name=".MyProfileActivity"
            android:label="My Profile"
            android:theme="@style/AppTheme"/>
        <activity android:name=".SearchActivity" />

        <activity android:name=".BlogSingleActivity" />
        <activity android:name=".DonationActivity"
            android:label="Donations"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DonateActivity"
            android:label="Donate a Product"
            android:theme="@style/AppTheme"/>
        <activity android:name=".AboutActivity"
            android:label="About"
            android:theme="@style/AppTheme"/>
        <activity android:name=".TermsAndConditionsActivity"
            android:label="KShop : T &amp; C"
            android:theme="@style/AppTheme"/>
        <activity android:name=".RequestActivity" />
        <activity
            android:name=".ViewRequestsActivity"
            android:label="Requests"
            android:theme="@style/AppTheme" />
        <activity android:name=".RequestsActivity" />
        <activity
            android:name=".MyRequestActivity"
            android:label="My Requests"
            android:theme="@style/AppTheme" />
        <activity android:name=".DeleteMyPostActivity" />
        <activity
            android:name=".Home2Activity"
            android:label="Home"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>